.container{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image{
  height: 100%;
  width: auto;
  position: absolute;
}

.imagebackground{
  position: absolute; 
  height: auto;   
  width: 100vh;
  opacity: 0.2;
}