.menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}

.line {
  height: 4px;
  width: 25px;
  background: black;
  transition: all 100ms;
  border-radius: 5px;
}
